* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 5px;
}

.content {
  padding: 10px;
  border: 1px solid black;
}

.content h1 {
  font-size: 22px;
}

.content p {
  margin-top: 5px;
  font-size: 16px;
}
