@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #2b88f0;
  padding: 10px;
}

h3 {
  color: #fff;
  font-size: 20px;
  margin: 0 0 20px;
  text-align: center;
}

#textarea {
  width: 100%;
  height: 100px;
  font-family: inherit;
  padding: 10px;
  margin: 0 0 20px;
  font-size: 16px;
  border: 0;
  outline: 0;
}

.tag {
  display: inline-block;
  color: #fff;
  background-color: #f09326;
  border-radius: 50px;
  margin: 0 10px 10px 0;
  padding: 10px;
}

.tag.highlight {
  background-color: #273c75;
}
