@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #efedd6;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.title h1 {
  margin: 10px;
}

.box {
  width: 370px;
  height: 150px;
  margin: 10px;
  background-color: steelblue;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transform: translateX(400%);
  transition: transform 0.4s ease-out;
}

.box:nth-child(even) {
  transform: translateX(-400%);
}

.box.active {
  transform: translateX(0);
}
