@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  width: 350px;
  max-width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.progress-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 3px;
  width: 100%;
  transform: translateY(-50%);
  background-color: var(--line-border-empty);
  transition: 0.4s ease;
  z-index: -1;
}

.progress {
  position: absolute;
  top: 50%;
  left: 0;
  height: 3px;
  width: 0%;
  transform: translateY(-50%);
  background-color: var(--line-border-fill);
  transition: 0.4s ease;
  z-index: -1;
}

.circle {
  background-color: #fff;
  border-radius: 100%;
  height: 34px;
  width: 34px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease 0.2s;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  padding: 5px 15px;
  border: none;
  font-family: inherit;
  margin: 20px;
  color: #fff;
  border-radius: 2px;
  font-size: 18px;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.9);
}

.btn:focus {
  border: none;
  outline: none;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  color: #333;
  cursor: not-allowed;
  opacity: 0.6;
}
