@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 90vw;
  display: flex;
}

.panel {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 80vh;
  margin: 10px;
  border-radius: 30px;
  position: relative;
  flex: 1;
  color: #fff;
  transition: flex 0.7s ease;
  cursor: pointer;
}

.panel h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel.active {
  flex: 5;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel {
    margin: 5px;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
