@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  background-color: #333;
  color: #222;
}

.container {
  background-color: #f2f2f2;
  padding: 30px;
  width: 100%;
  position: relative;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.active {
  transform: rotate(-20deg);
}

.circle-container {
  position: fixed;
  left: -100px;
  top: -100px;
}

.circle {
  height: 200px;
  width: 200px;
  background-color: orange;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  font-size: 26px;
  background-color: transparent;
  border: none;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button.open {
  left: 60%;
}

.circle button.close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.active .circle {
  transform: rotate(-70deg);
}

.content {
  width: 1000px;
  margin: 50px auto;
}

.content small {
  color: #555;
  font-style: italic;
}

.content p {
  color: #333;
  line-height: 1.5;
}

.content img {
  max-width: 100%;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li:nth-child(2) {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li:nth-child(3) {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav ul li i {
  margin-right: 5px;
  font-size: 20px;
}

.container.active ~ nav ul li {
  transform: translateX(0);
  transition-duration: 0.4s;
}
