@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  background-image: linear-gradient(
    to bottom,
    #eafbff 0%,
    #eafbff 50%,
    #5290f9 50%,
    #5290f9 100%
  );
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  padding: 20px;
  border-radius: 3px;
  background-color: #fff;
  transition: width 0.6s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 5px, 0.3);
}

nav.active {
  width: 300px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 15px;
  margin: 10px 0;
  width: 0;
}

nav.active ul {
  width: 100%;
}

ul li {
  transform: rotateY(0deg);
  transition: transform 0.6s ease;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}

nav.active ul li {
  transform: rotateY(360deg);
  opacity: 1;
  pointer-events: auto;
}

ul li a {
  text-decoration: none;
  color: #000;
}

.btn {
  position: relative;
  background-color: #fff;
  border: 0;
  height: 30px;
  width: 30px;
  margin: 0 10px;
  cursor: pointer;
}

.btn:active {
  outline: none;
}

.btn .line {
  width: 20px;
  background-color: #5290f9;
  height: 2px;
  position: absolute;
  top: 10px;
  left: 0;
  transition: transform 0.6s ease;
}

.btn .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .btn .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .btn .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}
