* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
}

.star-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.star-data {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}
.fa-star {
  font-size: 40px;
}
