@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}

html {
  transition: all 0.5s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

.btn {
  font-family: inherit;
  position: absolute;
  top: 100px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.clock-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.clock {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.needle {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 3px;
  background-color: var(--primary-color);
  transform-origin: bottom center;
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
}

.needle.second {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
  background-color: #e74c3c;
}

.center-point {
  height: 10px;
  width: 10px;
  background-color: #e74c3c;
  border-radius: 50%;
}

.center-point::before {
  content: "";
  height: 5px;
  width: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  border-radius: 50%;
}

.time {
  margin-top: 10px;
  font-size: 60px;
  font-weight: 300;
}

.date {
  font-size: 14px;
  text-transform: uppercase;
  color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.date .circle {
  display: inline-flex;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
  transition: all 0.3s;
}
