@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
}

.key {
  border: 1px solid #999;
  background-color: #eee;
  padding: 15px;
  margin: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 150px;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1);
}

.key small {
  position: absolute;
  top: -24px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #555;
  font-size: 14px;
}
